In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data.csv')

In [3]:
data=df[['Name','Age','Overall','Potential']]
data.head()

                Name  Age  Overall  Potential
0           L. Messi   31       94         94
1  Cristiano Ronaldo   33       94         94
2          Neymar Jr   26       92         93
3             De Gea   27       91         93
4       K. De Bruyne   27       91         92

In [4]:
data['target']='Non-Target'
data['target'][(data['Age']<=25) & (data['Overall']>=80) & (data['Potential']>=80)]='Target'

c:\users\acer\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\acer\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\acer\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\generic.py:9116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
c:\users\acer\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
data.head(15)

                 Name  Age  Overall  Potential      target
0            L. Messi   31       94         94  Non-Target
1   Cristiano Ronaldo   33       94         94  Non-Target
2           Neymar Jr   26       92         93  Non-Target
3              De Gea   27       91         93  Non-Target
4        K. De Bruyne   27       91         92  Non-Target
5           E. Hazard   27       91         91  Non-Target
6           L. Modrić   32       91         91  Non-Target
7           L. Suárez   31       91         91  Non-Target
8        Sergio Ramos   32       91         91  Non-Target
9            J. Oblak   25       90         93      Target
10     R. Lewandowski   29       90         90  Non-Target
11           T. Kroos   28       90         90  Non-Target
12           D. Godín   32       90         90  Non-Target
13        David Silva   32       90         90  Non-Target
14           N. Kanté   27       89         90  Non-Target

In [6]:
data.isnull().sum()

Name         0
Age          0
Overall      0
Potential    0
target       0
dtype: int64

In [7]:
data.shape

(18207, 5)

In [8]:
x=data.drop(['Name','target'], axis=1)
y=data['target']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.1)

In [11]:
def nilai_k():
    k= round(len(x)**.5)
    if (k%2 == 0):
        return k+1
    else:
        return k
nilai_k()

135

In [12]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
model_knn= KNeighborsClassifier(n_neighbors=nilai_k())
model_rf=RandomForestClassifier(n_estimators=10)
model_svc=SVC(gamma='auto',probability=True)

In [13]:
model_knn.fit(X_train,y_train)
model_rf.fit(X_train,y_train)
model_svc.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [14]:
print('Akurasi dari KNN',str(model_knn.score(X_test,y_test)))
print('Akurasi dari Random Forest', str(model_rf.score(X_test,y_test)))
print('Akurasi dari SVM', str(model_svc.score(X_test,y_test)))

Akurasi dari KNN 0.9956068094453597
Akurasi dari Random Forest 1.0
Akurasi dari SVM 0.9989017023613399

In [15]:
list_pemain={'Andik Vermansyah':[27,87,90],
'Awan Setho':[22,75,83],
'Bambang Pamungkas':[38,85,75],
'Cristian Gonzales':[43,90,85],
'Egy Maulana Vikri':[18,88,90],
'Evan Dimas':[24,85,87],
'Febri Hariyadi':[23,77,80],
'Hansamu Yama Pranata':[24,82,85],
'Septian David Maulana':[22,83,80],
'Stefano Lilipaly':[29,88,86]}

In [16]:
for i,j in list_pemain.items():
    pred=model_rf.predict([j])
    print(i,'adalah',str(pred[0]))

Andik Vermansyah adalah Non-Target
Awan Setho adalah Non-Target
Bambang Pamungkas adalah Non-Target
Cristian Gonzales adalah Non-Target
Egy Maulana Vikri adalah Target
Evan Dimas adalah Target
Febri Hariyadi adalah Non-Target
Hansamu Yama Pranata adalah Target
Septian David Maulana adalah Target
Stefano Lilipaly adalah Non-Target